/* font-family: 'Stint Ultra Condensed', cursive; */
/* font-family: 'Playfair Display', serif;
font-family: 'Big Shoulders Display', cursive; */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	position: relative;
}


div.wrapper {
	max-width: 1280px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 50px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* ----HEADER----- */
header::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	height: 2px;
	background-color: black;
}

header {
	position: relative;
	font-family: 'Stint Ultra Condensed', cursive;
	font-size: 40px;
	top: 40px;
	left: 0%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	line-height: 80px;
	background-color: white;
	z-index: 2;
}

/* ---SECTION MOBILE----- */
section.mobile {
	position: relative;
}

section.mobile i {
	position: absolute;
	top: -40px;
	left: 5%;
	font-size: 20px;
	transform: translateY(-50%);
	z-index: 3;
}

nav.burger {
	display: block;
	position: absolute;
	font-family: 'Big Shoulders Display', cursive;
	top: -180px;
	left: 0;
	width: 100%;
	padding-left: 5%;
	padding-bottom: 20px;
	font-size: 30px;
	transition: 0.3s;
	z-index: 1;
}

nav.burger.active {
	top: 20px;

}

nav.burger ul {
	list-style: none;
}

nav.burger a {
	color: black;
	text-decoration: none;
	line-height: 1.4;
	letter-spacing: 1px;
}

/* ------SECTION DESKTOP---------- */

section.desktop {
	display: none;
	width: 100%;
}

section.desktop nav {
	width: 90%;
	margin: 0 auto;
}

section.desktop ul {
	display: flex;
	text-align: center;
	list-style: none;
}

section.desktop li {
	flex-basis: 25%;
}

section.desktop a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 36px;
	font-family: 'Big Shoulders Display', cursive;
	line-height: 1.8;
}

/* ---------SECTION NEWS -------- */

div.move {
	position: relative;
	width: 90%;
	top: 0;
	left: 5%;
	font-family: 'Big Shoulders Display', cursive;
	transition: 0.3s;
}

section.news {
	position: relative;
	background-image: url(img_P2/news_640.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 30px;
	height: 250px;
	width: 100%;
}

section.news::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.5s linear;
}

section.news h1 {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;

}

section.news button {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Big Shoulders Display', cursive;
	background-color: black;
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 20px;
	transition: 0.5s;
	cursor: pointer;
}

span.line {
	display: block;
	margin: 30px 0;
	width: 100%;
	height: 1px;
	background-color: rgb(83, 83, 83);
}

/* ---SECTION MAIN------- */


section.main article h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

div.img-main {
	position: relative;
	background-image: url(img_P2/article_640.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 100%;
}


span.short-line {
	display: block;
	width: 100%;
	height: 1px;
	margin: 20px auto;
	background-color: rgb(179, 179, 179);
}

section.main article button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Big Shoulders Display', cursive;
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid white;
	color: white;
	padding: 10px 20px;
	font-size: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.5s;
}

/* ---ASIDE---- */

div.img-aside {
	position: relative;
	background-image: url(img_P2/aside_640.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 30px auto;
	border: 2px solid rgb(214, 212, 212);
	cursor: pointer;
	transition: 0.3s;
}

aside h2 {
	display: none;
}

aside div.info h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-style: italic;
	font-size: 24px;
	color: rgb(129, 128, 128);
}

/* ---FOOTER---- */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: black;
	font-family: 'Big Shoulders Display', cursive;
}

footer p {
	color: white;
	line-height: 50px;
	font-size: 18px;
	letter-spacing: 1px;
}

/* ---SCROLL-UP--- */
div.scroll-up {
	position: fixed;
	bottom: -30px;
	right: 5%;
	width: 34px;
	height: 34px;
	background-color: white;
	border-radius: 50%;
	border: 3px solid black;
	opacity: 0;
	transition: bottom 0.5s linear, opacity 0.7s linear;
	z-index: 10;
}

div.scroll-up.active {
	opacity: 1;
	bottom: 8px;
}

div.scroll-up i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;

}

@media(min-width: 460px) {
	div.img-main {
		height: 250px;
		width: 100%;
	}
}

@media(min-width: 640px) {
	div.img-main {
		height: 350px;
		width: 100%;
	}

	header {
		font-size: 60px;
		top: 50px;
		line-height: 100px;
	}

	section.mobile i {
		font-size: 30px;
		top: -50px;
	}

	nav.burger {
		top: -250px;
		font-size: 40px;
	}

	section.news {
		height: 300px;
	}

	section.news h1 {
		font-size: 50px;
		letter-spacing: 3px;
	}

	section.news button {
		top: 75%;
		font-size: 25px;
	}

	section.main article h2 {
		font-size: 40px;
	}

	div.img-main {
		height: 350px;
	}

	section.main article button {
		font-size: 26px;
	}

	span.short-line {
		margin: 40px auto;
	}

	div.img-aside {
		height: 300px;
		width: 300px;
		margin: 40px auto;
		border: 3px solid rgb(214, 212, 212);
	}

	aside div.info h3 {
		font-size: 34px;
	}

	footer {
		width: 100%;
		height: 50px;
		text-align: center;
		background-color: black;
	}

	footer p {
		color: white;
		line-height: 50px;
		font-size: 24px;
		letter-spacing: 1px;
	}
}


@media (min-width: 768px) {
	header {
		font-size: 80px;
		top: 60px;
		line-height: 120px;
	}

	section.mobile {
		display: none;
	}

	section.desktop {
		display: block;
	}

	section.news {
		height: 400px;
	}

	section.news h1 {
		font-size: 60px;
		letter-spacing: 4px;
	}

	section.news button {
		top: 75%;
		font-size: 30px;
	}

	section.main {
		position: relative;
		float: left;
		width: 65%;
		padding-right: 5%;
	}

	section.main::after {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		top: 72px;
		bottom: 40px;
		right: 0;
		background-color: rgb(129, 128, 128);
	}

	section.main article h2 {
		font-size: 44px;
	}

	aside {
		float: left;
		width: 35%;
	}

	aside h2 {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		font-size: 44px;
		border: 2px solid black;
		background-color: black;
		color: white;
	}


	div.img-main {
		height: 250px;
	}

	div.img-aside {
		height: 200px;
		width: 200px;
		margin: 15px auto 40px auto;
		border: 3px solid rgb(214, 212, 212);
	}

	aside div.info h3 {
		font-size: 30px;
	}

}

@media(min-width: 1024px) {
	header {
		font-size: 120px;
		top: 90px;
		line-height: 180px;
	}

	section.desktop a {
		font-size: 46px;
		transition: 0.3s;
	}

	section.desktop a:hover {
		color: rgb(108, 108, 108);
	}

	section.news:hover::after {
		background-color: rgba(0, 0, 0, 0.5);
	}

	section.news button:hover {
		background-color: transparent;
		border: 3px solid black;
		color: white;

	}

	section.news h1 {
		font-size: 80px;
		letter-spacing: 7px;
	}

	section.news button {
		font-size: 30px;
	}

	section.main {
		width: 70%;

	}


	section.main article h2 {
		font-size: 50px;
	}

	aside {
		float: left;
		width: 30%;
	}


	div.img-main {
		height: 400px;
	}

	div.img-aside {
		height: 200px;
		width: 200px;
		margin: 15px auto 40px auto;
		border: 3px solid rgb(214, 212, 212);
	}

	div.img-aside:hover {
		height: 220px;
		width: 220px;
	}

	section.main article button:hover {
		border: none;
		background-color: rgba(0, 0, 0, 0.1);
		font-size: 32px;

	}

}

@media(min-width: 1280px) {
	section.news {
		height: 500px;
	}

	section.main {
		width: 75%;

	}

	section.main article button {
		font-size: 34px;
		letter-spacing: 2px;
	}

	section.main article button:hover {
		font-size: 40px;

	}

	aside {
		width: 25%;
	}

	div.img-main {
		height: 450px;
	}

	div.scroll-up {
		right: calc(50% - 576px);
		width: 34px;
		height: 34px;
		background-color: white;
		border-radius: 50%;
		border: 3px solid black;
		opacity: 0;
		transition: bottom 0.5s linear, opacity 0.7s linear;
	}



}